{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1> Editer le bien</h1>
        {% for message in app.flashes('success') %}
            {# // todo aline flash messages label #}
            <div class="alert alert-success center">
                <label class="text-center">
                {{ message }}
                </label>
            </div>
        {% endfor %}
       {{  include ('admin/admin_property/_form.html.twig',{button: 'Editer'}) }}
    </div>
{% endblock %}

