{% extends 'base.html.twig' %}

{% block title %}Edit Option{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Edit Option</h1>

    {#        {% for message in app.flashes('success') %}#}
    {#            #}{# // todo aline flash messages label #}
    {#            <div class="alert alert-success center">#}
    {#                <label class="text-center">#}
    {#                    {{ message }}#}
    {#                </label>#}
    {#            </div>#}
    {#        {% endfor %}#}


    <div class="row">
        <div class="col-4">
            <div>
                {{ include('admin/option/_form.html.twig',{button: 'Update'}) }}
                <p style="text-align: center;margin-top: -38px!important;vertical-align: center">
                    <a href="{{ path('option_index') }}" class="btn btn-info">Back to list</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

